<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StrankyEntities" connectionString="metadata=res://*/Models.ClankyModel.csdl|res://*/Models.ClankyModel.ssdl|res://*/Models.ClankyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:kolarikmartin.database.windows.net,1433;initial catalog=Stranky;persist security info=False;user id=SMITHKOLARIK;password=Polav1994;multipleactiveresultsets=False;connect timeout=30;encrypt=True;trustservercertificate=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>