@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Uzamčeno";
}

<hgroup>
    <h1 class="text-danger">Uzamčeno.</h1>
    <h2 class="text-danger">Tento účet byl uzamčen, zopakujte akci později.</h2>
</hgroup>
