@{
    ViewBag.Title = "Potvrdit e-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Děkujeme vám za potvrzení vašeho e-mailu. @Html.ActionLink("Kliknutím sem se přihlaste", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
