@{
    ViewBag.Title = "Potvrzení zapomenutého hesla";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Zkontrolujte e-mail pro resetování hesla.
    </p>
</div>
	
