
.container-clanky {
    display: inline-flex;
    flex-flow: row;
    flex-wrap: wrap;
}

    .container-clanky .items {
        padding: 5px 10px 35px 5px;
        max-width: 25em;
        margin: 10px 5px 0 15px;
        /*   background-color:rgb(237, 230, 191);
        border-radius:5%;*/
    }

div[id="background"] {
    background: url(http://www.hrebec.cz/data/headerfooter/header_images/slideshow1.jpg);
    height: 20em;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 89%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;

}


.footer,
.push {
    height: 50px; 
}
footer {
    text-align: center;
}

#upload_link {
    text-decoration: none;
}

#upload {
    display: none
}

